section[data-testid="stMain"] > div[data-testid="stMainBlockContainer"] {
    max-width: 80% !important;    /* deine gewünschte Breite */
    margin: 0 auto !important;    /* <<< zentriert den Block */
    text-align: center !important;/* zentriert Inline/Text-Inhalte */
}

/* images zentrieren */
section[data-testid="stMain"] img {
    display: block;
    margin: 0 auto !important;
}